{% extends 'base.html.twig' %}

{% block title %}Edit Client{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 ">
                <div class="card bg-light mb-3 mt-5" >
                    <div class="card-body">
                        <div class="card-header">
                            <h1>Edit Client info.</h1>
                        </div>
                        {% if app.user != null %}
                            {{ form_start(form) }}
                            <div class="form_group">
                                <div class="col-md-12 mb-3">
                                    {{ form_row(form.clientName, {'attr': {'class': 'form-control'}}) }}
                                    <div class="form-group row  ">
                                        <div class="col-md-4">
                                            {{ form_row(form.ipAddress, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="col-md-1">
                                            {{ form_row(form.scanForUp, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_row(form.port, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="col-md-1">
                                            {{ form_row(form.https, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ form_row(form.localNetworkAliasName, {'attr': {'class': 'form-control', 'placeholder': 'network_AllowAll_INT'}}) }}
                                        </div>

                                        <div class="col-md-4">
                                            {{ form_row(form.localIP, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    {{ form_row(form.apiKey, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_row(form.apiSecret, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_row(form.notes, {'attr': {'class': 'form-control'}}) }}

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-8 " style="margin-top:5px;">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-btn fa-user"></i> Save
                                    </button>
                                </div>
                            </div>
                            {{ form_end(form) }}

                            <div>
                                <table class="table">
                                    <tr>
                                        <th>Name.</th>
                                        <th>Download</th>
                                        <th>Delete</th>

                                    </tr>
{#                                Loop through Firwares and show #}
                                    {% for firmware in firmwares %}
                                    <tr>
                                        <td>{{  firmware.getName }}</td>
                                        <td><a href=" {{ url('down_firmware' , { 'firmware': firmware.id}) }}" title='Download Firmware'><span class="glyphicon glyphicon-download myLink"></span></a></td>
                                        <td><a href=" {{ url('delete_firmware', { 'firmware': firmware.id}) }}" title='Download Firmware'><span class="glyphicon glyphicon-remove-sign myLink"></span></a></td>
                                    </tr>
                                {%  endfor %}

                                </table>

                            </div>

                        <div class="form_group col-md-12 mb-3">
                            <a class="btn btn-primary" href="{{ path('list_clients') }}" role="button">Back</a>
                        </div>

                        {% endif %}
                        {% if app.user == null %}
                            <a href="{{ path('app_login') }}" class="btn btn-info">Please Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
